<template>
  <div class="add">
    <input
      type="text"
      v-model="item.name"
      placeholder="Product Name"
      class="name"
    />
    <input type="number" v-model="item.price" placeholder="Price" />
    <input type="number" v-model="item.quantity" placeholder="Qty" />
    <button @click="saveItem">Add</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mapActions } from "vuex";

export default defineComponent({
  name: "FormContainer",
  data() {
    return {
      item: {
        id: 0,
        name: "",
        quantity: "",
        price: "",
      },
    };
  },
  methods: {
    ...mapActions(["addItem"]),
    saveItem() {
      this.item.id = new Date().getTime();
      this.addItem(this.item);
      this.item = {
        id: 0,
        name: "",
        quantity: "",
        price: "",
      };
    },
  },
});
</script>
<style lang="scss">
.add {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
input {
  padding: 5px;
  margin: 5px;
  border: 1px solid #dddddd;

  &.name {
    width: 50%;
  }
}
button {
  padding: 5px 20px;
  margin: 5px;
  border: 1px solid #dddddd;
}
</style>
