<template>
  <table>
    <tr>
      <th>
        <input
          type="checkbox"
          @click="selectAll"
          :value="allIds"
          :checked="ids.length === items.length && items.length !== 0"
        />
      </th>
      <th>Product name</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Sum</th>
    </tr>
    <tr v-for="item in items" :key="item.id">
      <th><input type="checkbox" v-model="ids" :value="item.id" /></th>
      <th>{{ item.name }}</th>
      <th>$ {{ item.price }}</th>
      <th>{{ item.quantity }}</th>
      <th>$ {{ item.quantity * item.price }}</th>
    </tr>
  </table>
  <div class="footer">
    <button @click="doDeleteItems">Delete</button>
    <p>
      Total: <span>$ {{ totalSum }}</span>
    </p>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { mapActions, mapGetters } from "vuex";

export default defineComponent({
  name: "InvoiceContainer",
  data() {
    return {
      ids: [],
      allIds: [],
    };
  },
  computed: {
    ...mapGetters(["items"]),
    totalSum() {
      let sum = 0;
      if (this.items.length) {
        for (let item of this.items) {
          console.log(item);
          sum += item.price * item.quantity;
        }
      }
      return sum;
    },
  },
  methods: {
    ...mapActions(["deleteItems"]),

    doDeleteItems() {
      this.deleteItems(this.ids);
      this.allIds = this.items.map((item: { id: number }) => item.id);
      this.ids = [];
    },
    selectAll() {
      this.allIds = this.items.map((item: { id: number }) => item.id);
      if (this.ids.length === this.items.length) {
        this.ids = [];
      } else {
        this.ids = this.allIds;
      }
    },
  },
});
</script>
<style lang="scss">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 10px auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.footer {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-between;
}
</style>
