<template>
  <Header />
  <FormContainer />
  <InvoiceContainer />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Header from "./components/Header/Header.vue";
import FormContainer from "./components/FormContainer/FormContainer.vue";
import InvoiceContainer from "./components/InvoiceContainer/InvoiceContainer.vue";

export default defineComponent({
  name: "App",
  components: {
    Header,
    FormContainer,
    InvoiceContainer,
  },
});
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
